---
layout: default
---

<style>
    /* Global styles */
    body {
        background-color: #e0c681 !important; /* Light sand background */
        color: #333333; /* Dark gray text color */
        font-family: Arial, sans-serif;
    }
    
    /* Container styles */
    .container {
        background-color: #ffffff; /* White background for the main container */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    /* Link styles */
    a {
        color: #007acc; /* Blue links */
        text-decoration: none;
    }
    a:hover {
        color: #005f99; /* Darker blue for hover state */
    }
</style>


<div class="container">
    <div class="row">
        <div class="col col-12 col-t-12">
            <div class="row">
                {% for post in paginator.posts %}
                    {% include post-card.html %}
                {% endfor %}
            </div>
            {% include pagination.html %}
        </div>
    </div>
</div>

